$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #f7f7f9;
$gray-300: #f1f1f1;
$gray-400: #c9c9c9;
$gray-500: #eeeeee;
$gray-600: #7a7a7a;
$gray-700: #dcdcdc;
$gray-800: #343a40;
$gray-900: #1a1a1a;
$black: #181f25;
$blue: #5982ce;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #e15656;
$orange: #fd7e14;
$yellow: #f0ad4e;
$green: #4bbf73;
$teal: #20c997;
$cyan: #1f9bcf;
$primary: $blue;
$secondary: $white;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $white;
$dark: $gray-800;
$yiq-contrasted-threshold: 185;
$body-color: $gray-600;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$font-family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
$font-size-base: 1.2rem;
$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$display3-size: 2.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;
$h6-font-size: 0.75rem;
$headings-font-weight: 600;
$headings-color: $gray-900;
$table-border-color: rgba(0, 0, 0, 0.05);
$input-btn-border-width: 0;
$btn-line-height: 1.5rem;
$input-btn-padding-y: 0.75rem;
$input-btn-padding-x: 2rem;
$input-btn-padding-y-sm: 0.5rem;
$input-btn-padding-x-sm: 1rem;
$input-btn-padding-y-lg: 2rem;
$input-btn-padding-x-lg: 3rem;
$btn-font-weight: 600;
$input-line-height: 1.5rem;
$input-bg: $gray-200;
$input-disabled-bg: $gray-300;
$input-group-addon-bg: $gray-300;
$navbar-padding-y: 1.5rem;
$navbar-dark-hover-color: $white;
$navbar-light-color: rgba($black, 0.3);
$navbar-light-hover-color: $gray-900;
$navbar-light-active-color: $gray-900;
$pagination-border-color: transparent;
$pagination-hover-border-color: $pagination-border-color;
$pagination-disabled-border-color: $pagination-border-color;
$breadcrumb-bg: transparent;
